.dark .box {
  background: #0a0a0a;
  box-shadow: none;
  color: white;
  border-color: #222;
}

.dark {
  background: black;
}

.footer {
  color: white;
}

.dark .divimg img {
  filter: invert(0)!important;
}

.dark input {
  border-color: #2f2c2c!important;
}

  .dark .box .inputBox input:focus ~ label,
  .dark .box .inputBox input:valid ~ label,
  .dark .box .inputBox input:not([value=""]) ~ label {
    background-color: #0a0a0a;
  }
  
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
  }
  
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    padding: 2.5rem;
    box-sizing: border-box;
    border: 1px solid #dadce0;
    -webkit-border-radius: 8px;
    border-radius: 8px;

  }
  
  .box h2 {
    margin: 0px 0 -0.125rem;
    padding: 0;
    color: #fff;
    text-align: center;
    color: #202124;
    font-size: 24px;
    font-weight: 400;
  }

  .box p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.5;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .box .inputBox {
    position: relative;
  }
  
  .box .inputBox input {
    width: 93%;
    padding: 0.625rem 10px;
    font-size: 1rem;
    /* letter-spacing: 0.062rem; */
    margin-bottom: 1.875rem;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 4px;
    
  }
  
  .box .inputBox label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: grey;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .box .inputBox input:focus ~ label,
  .box .inputBox input:valid ~ label,
  .box .inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 10px;
    color: #1a73e8;
    font-size: 0.75rem;
    background-color: white;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .box .inputBox input:focus {
    outline: none;
    border: 2px solid #1a73e8;
  }
   .box input[type="submit"] {
    /* border: none;
    outline: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem; */
    /* float: right; */
    margin: auto !important;
    width: 58.28px !important;
    text-align: center;
  }
  /*
  .box input[type="submit"]:hover {
    background-color: #287ae6;
    box-shadow: 0 1px 1px 0 rgba(66,133,244,0.45), 0 1px 3px 1px rgba(66,133,244,0.3);
  } */
  h2, h1, p {
    /* font-family: 'Open Sans', arial !important; */
    font-family: arial !important;
  }
  .page-alert {
    text-align: center;
    background: red;
    color: white;
padding: 1px;
    vertical-align: 3px;
  }
  .footer {
    position: fixed;
 left: 0;
 bottom: 0;
   width: 100%;
   text-align: center;
}
 .divimg {
  width: 245.45px;
  margin: auto !important;
  padding: 0;
}

.link {
  text-decoration: none;
  color: rgb(32, 85, 165)!important;
}