
:root {
  --bodybg: #fbfbfb; 
  --is-view-text-enabled: none;
}
/* Override some defaults */
      body {
        background: var(--bodybg);
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        padding-top: 65px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
              /* height: 100vh; */
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      .content .span10,
      .content .span4 {
        min-height: 500px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span4 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }

      .topbar .btn {
        border: 0;
      }
      
      /* .logost {
                /* font-family: 'Red Hat Display', sans-serif; */
                /* color: rgb(43, 17, 196)!important; */
             /*   font-style: italic;
                content: url('/assets/img/clipItnew.png');
                height: 20px;
                margin-top:2px;
      } */
      
      .video-thumbnail{
    flex: 0 0 120px;
    border: 1px solid var(--colw);
    outline: 1px solid var(--colg);
    background: var(--colbl);
    width: 120px;
    height: 72px;
    padding: 0px;
    display: block;
    margin: auto;
    float: left;
    margin-right: 10px;
}
.video-thumbnail video{
    width: 100%;
    height: 100%;
}
.videoinfo {
  float: left;
}
video {
  background: black;
}
.topbar-inner, .topbar .fill {
  box-shadow: none;
}
.topbar > .fill {
  background: #f1f1f1;
  border-bottom: 1px solid #e8e8e8;
  padding: 2px;
  max-height: 40px;
}
.topbar h3 a, .topbar .brand, .topbar h3 a:hover, .topbar .brand:hover, .topbar div > ul a.menu:hover, .nav a.menu:hover, .topbar div > ul li.open .menu, .nav li.open .menu, .topbar div > ul .dropdown-toggle:hover, .nav .dropdown-toggle:hover, .topbar div > ul .dropdown.open .dropdown-toggle, .nav .dropdown.open .dropdown-toggle {
  color: #333;
}
.topbar a {
  text-shadow: none;
  color: #333;
}
.topbar div > ul a:hover, .nav a:hover {
  color: #000000;
}
a.menu::after, .dropdown-toggle::after {
  border-top-color: #333;
}
.dropdown-menu-profile {
  margin-right: 5px;
  color: #666;
  font-size: 11px;
}
.page-alert {
	width: 820px;
	/* margin-left: auto;
	margin-right: auto; */
}
.user-pic {
  width: 100px;
}
.guide {
  width: 10%;
  float: left;
  margin-top: 5px;
  padding: 20px;
  background: var(--bodybg);
  padding-top: 60px;
  height: 100%;
}
.guide span {
  color: rgb(43, 17, 196);
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
.guide ul {
  list-style-type: none;
}
.topbar .container {
  margin: 0px!important;
  margin-left: 55px !important;
  width: 100%;
}

.topbar div > ul.secondary-nav, .nav.secondary-nav {
margin-right: 5%;
}

.guide .guide-item {
  padding: 5px;
  color: #555;
  font-size: 11px;
}
.guide a {
  text-decoration: none;
}
.guide .guide-item:hover, .guide .guide-item-active {
  color: #fff;
}
.guide .guide-item:hover {
  background-image: linear-gradient(to bottom,#444 0,#333 100%);
}



.guide .guide-item i {
    color: white;
    background-image: linear-gradient(to bottom,#493bb9 0,#223794 100%);
    padding: 3px;
    font-size: 13px;
    line-height: 2px;
}

.bi-plus-circle-fill {
  border-radius: 2px;
  background: #b3b3b3!important;
  font-weight: bold;
}

.guide .guide-item-active {
  background: rgb(43, 17, 196);
}
.guide ul, ol {
  margin: 0;
}
.guide .sign-in-box {
  padding: 20px;
  border: 1px solid #434343;
  background: #464646;
  color: #fff;
  margin: 10px;
  font-size: 14px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.25);
}
.alert-message {
  color: #fff;
  background: #d17821;
  border-color: #b76a1c;
  text-shadow: none;
  border-radius: 0;
  box-shadow: none;
}
.btn.info, .alert-message.info {
  background: #2793e6;
  border-color: #3a78ab;
}
.btn.success, .alert-message.success {
  background: #74a446;
  border-color: #618a3c;
}
.btn.danger, .alert-message.danger, .btn.error, .alert-message.error {
  background: #b91f1f;
  border-color: #a11b1a; 
}
.topbar div > ul .menu-dropdown, .nav .menu-dropdown, .topbar div > ul .dropdown-menu, .nav .dropdown-menu {
  background-color: #fff;
}
.menu-dropdown, .dropdown-menu {
  border: 1px solid #ccc!important;
  border: 1px solid!important;
  border-radius: 3px!important;
  box-shadow: none;
}
 .dropdown-menu li a {
  color: #333!important;
  text-shadow: none!important;
}

.topbar div > ul .menu-dropdown .divider, .nav .menu-dropdown .divider, .topbar div > ul .dropdown-menu .divider, .nav .dropdown-menu .divider {
  background-color: transparent;
  border-color: #f4f4f4;
  /* margin-left: 8px;
  margin-right: 8px; */
}
.yt-footer {
  background-color: #f2f2f2;
  border-top: 1px solid #e2e2e2;
  width: 100%;
  padding: 15px;
  padding-left: 45px;
  position: relative;
  left: 0;
  bottom: 0;
}
.rewatch {
  width: 640px;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.rewatch-content {
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-top: none;
}
.rewatch-pfp {
  vertical-align: middle;
  margin-left: -9px;
}
#rewatch-author {
  margin-left: 10px;
  color: #333;
  font-weight: bold; 
  /* margin-bottom: 36px; */
}
.rewatch-sub {
  display: inline-block;
}
.rewatch-main {
  border-bottom: 1px solid #e6e6e6;
}
.rewatch-views {
  float: right;
  font-size: 20px;
}
.rewatch-buttons {
  padding-top: 8px;
}
.rewatch-likes {
  font-size: 12px;
  margin: 4px 0;
}
.rewatch-views-text {
  border-bottom: 2px solid #ccc;
}
.rewatch h4 a {
  color: #333;
}
.rewatch .page-alert {
  width: 580px;
}
.rewatch-name {
  margin-top: -50px !important;
  margin-left: 45px;
  display: block;
}
.yt-search-input:hover {
  border-width: 1px;
    border-right-width: 1px;
  border-style: solid;
    border-right-style: solid;
  border-right: 1px solid rgb(185, 185, 185);
    border-right-color: rgb(185, 185, 185);
  border-color: rgb(160, 160, 160) rgb(185, 185, 185) rgb(185, 185, 185);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.yt-search-input {
  font-family: Arial;
  min-height: 28px;
  border: 1px solid #ccc;
  -moz-box-shadow: inset 0 1px 2px #eee;
  -ms-box-shadow: inset 0 1px 2px #eee;
  -webkit-box-shadow: inset 0 1px 2px #eee;
  box-shadow: inset 0 1px 2px #eee;
  display: inline-block;
  width: 50%;
  padding: 2px 6px;
  margin: 0;
  outline: none;
  background-color: #FFF;
  font-size: 16px;
  _position: absolute;
  _left: 0;
  _width: 100%;
  /* *padding: 0; */
  zoom: 1;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px 0;
}
@media(max-width: 1030px) {
  .guide {
    display: none;
  }
}
/* .comment shit */
.cmn {
  float: left;
  margin-right: 7px;
}
.cmntxt {
  display: block;
}
.comment {
  padding:5px;
}
.indexdivider {
  border: 1px solid #FFF;
  opacity: 0;
}
/* hitchhiker shit below */
:root {
  /*     --accent-color: #7800d7;  */
      --accent-color: #f8f8f8;
  }
.yt-button {
  padding: 0.5em 0.91em !important;
  text-decoration: none !important;
}
.nav-buttons.yt-button:hover {
  color: #FFF !important;
}
  .nav-buttons {
          margin-right: 3px;
       margin-top: 4px;
  }
  .guide span {
      color: #1F6CCD;
  }
  .pull-left > input {
          border: 1px solid #ccc !important;
      box-shadow: inset 0 1px 2px #eee !important;
      border-radius: 0px;
          width: 300px;
  }
  .pull-left > input:focus {
      border:1px solid #1c62b9 !important;
      box-shadow:inset 0 1px 2px rgba(0,0,0,0.3) !important;
      -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3) !important;
      outline:none;
  }
  .stat {
          font-weight: bold;
      font-size: 15px;
  }
  h1 {
      margin-top: -5px;
          margin-bottom: 10px;
  }
  #title {
    font-size: 24px;
    font-weight: normal;
    color: #000;
  }
  .loginerror {
    margin: auto !important;
  }
  * {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  }

  .topbar div > ul .menu-dropdown .divider, .nav .menu-dropdown .divider, .topbar div > ul .dropdown-menu .divider, .nav .dropdown-menu .divider {
    border-color: #000;
  }
  label {
    margin-right: 3px;
    font-weight: bold;
}
.editoptions {
    float: right;
    margin-top: -4px !important;
    margin-right: 5px; 
}
.debug-alert {
    margin-top: -5px !important;
    margin-bottom: 0;
}
.yt-navigation-list {
  border: 1px solid rgb(222, 222, 222);
  font-family: Arial;
  background-color: rgb(251, 251, 251);
  width: 200px;
  padding: 0;
  list-style: none;
  float: left;
  margin-left: -10px;
}
.yt-navigation-list li.yt-nav-list-header {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(34, 34, 34) !important;
  background: none !important;
  filter: none !important;
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  -o-user-select: text;
  -ms-user-select: text;
}
.yt-navigation-list li {
  display: block;
  line-height: 24px;
  font-size: 11px;
  color: #555;
  padding: 0px 0px 0px 5px;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}
.yt-navigation-list li.selected, .yt-navigation-list li.selected:hover {
  color: #fff;
  font-weight: bold;
  background: #af2b26;
  background-image: -moz-linear-gradient(top,#af2b26 0,#942422 100%);
  background-image: -ms-linear-gradient(top,#af2b26 0,#942422 100%);
  background-image: -o-linear-gradient(top,#af2b26 0,#942422 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#af2b26),color-stop(100%,#942422));
  background-image: -webkit-linear-gradient(top,#af2b26 0,#942422 100%);
  background-image: linear-gradient(to bottom,#af2b26 0,#942422 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#00af2b26,EndColorStr=#dd942422);
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.25);
}
.yt-notification {
border:1px solid #6e8bba;
border-radius:2px;
padding:10px 0 10px 50px;
color:#FFF;
font-family:Arial;
font-size:13px;
font-weight: bold;
display:inline-block;
/* 	*display:inline;
*zoom:1; */
width:785px;
margin:5px 0;
position:relative;
}
.yt-notification span {
color:#FFF;
font-family:Arial;
font-size:13px;
vertical-align: middle;
}
.yt-notification .yt-notification-close {
float:right;
background-image: url('/assets/img/notification-sprite.png');
background-repeat:no-repeat;
background-position: 0px -140px;
margin-right:6px;
width:22px;
height:22px;
position:absolute;
top:25%;
right:0;
margin-top:-2px;
cursor:pointer;
}
.yt-notification .yt-notification-close:hover {
background-color: rgba(0, 0, 0, 0.15);
border-radius: 3px 3px 3px 3px;
}
.yt-notification-icon {
display:inline-block;
/* 	*display:inline;
*zoom:1; */
width:40px;
height:32px;
background-image:url('/assets/img/notification-sprite.png');
background-repeat: no-repeat;
position:absolute;
top: 0;
left:0;
}
.yt-notification.info {
background-color:#518dc2;
border-color:#6e8bba;
}
.yt-notification.info .yt-notification-icon {
background-position:0px 2px;
}
.yt-notification.success {
  background-color: #829e48;
  border-color: #618a3b;
}
.yt-notification.success .yt-notification-icon {
  background-position: 0px -62px;
}
.yt-notification.warning {
background-color: #c67b36;
  border-color: #b86a1d;
}
.yt-notification.warning .yt-notification-icon {
  background-position: 0px -94px;
}
.yt-notification.important {
  background-color: #a93630;
  border-color: #a11b1b;
}
.yt-notification.important .yt-notification-icon {
  background-position: 0px -30px;
}
/* Dark style*/
.yt-navigation-dark {
background:#535353;
text-shadow:0 -1px 1px #000;
list-style: none;
font-family:Arial;
font-size: 13px;
font-weight: bold;
color:#FFF;
padding: 0px;
margin:0;
outline:none;
text-decoration:none;
}
.yt-navigation-dark li {
color:#FFF;
padding:0 25px;
outline:none;
font-size:13px;
font-weight:bold;
line-height:40px;
text-decoration:none;
vertical-align:top;
white-space:nowrap;
display:inline-block;
margin:0;
outline:none;
user-select:none;
-moz-user-select:none;
-webkit-user-select:none;
-o-user-select:none;
-ms-user-select:none;
}
.yt-navigation-dark li:hover{
background:#666
}

.yt-navigation-dark li:active,.yt-navigation-dark li:focus,.yt-navigation-dark li.selected{
background:#343434
}
.yt-navigation-dark li a {
color:inherit;
width:100%;
height:100%;
display:inline-block;
/* 	*display:inline;
*zoom:1; */
}
/*2011 home shit*/
.yt-alert-promo {
  background: #f0f0f0;
  background-image: -moz-linear-gradient(center bottom,#d9d9d9 0,#f0f0f0 40%);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#d9d9d9),color-stop(0.4,#f0f0f0));
  -ms-filter: 'progid:DXImageTransform.Microsoft.Gradient(startColorStr=#F0F0F0, endColorStr=#D9D9D9)';
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#f0f0f0,endColorStr=#d9d9d9);
  -moz-box-shadow: 0 1px 2px #838383;
  -webkit-box-shadow: 0 1px 2px #838383;
  box-shadow: 0 1px 2px #838383;
}
.yt-alert {
  position: relative;
  margin: 5px 0;
  padding: 2px 24px 2px 4px;
  overflow: hidden;
  zoom: 1;
}
.yt-rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.yt-alert .yt-alert-content {
  font-weight: bold;
  font-size: 13px;
  padding: 7px 5px;
  overflow: hidden;
}
#signup-promo-message {
  font-size: 1.5em;
  margin-bottom: 10px;
}
#signup-promo-links .yt-uix-button, #signup-promo-content .yt-uix-button {
  font-weight: bold;
  height: 2em;
  padding: 0 20px;
  border-color: #36c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  background: #83a1d1;
  background-image: -moz-linear-gradient(top,#83a1d1,#2b59b2);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#83a1d1),to(#2b59b2));
  -ms-filter: 'progid:DXImageTransform.Microsoft.Gradient(startColorStr=#83A1D1, endColorStr=#2B59B2)';
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#83a1d1,endColorStr=#2b59b2);
}

#signup-promo-links .yt-uix-button {
  font-size: 1.3333em;
}
.yt-uix-button {
  padding: 0 0.5em;
  height: 2.0833em;
  border: 1px solid #ccc;
  color: #000;
  background: #f6f6f6;
  background-image: -moz-linear-gradient(top,#ffffff,#efefef);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#efefef));
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#efefef);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
}
#signup-promo-have-account {
  font-weight: normal;
  margin: 0 4px 0 8px;
}
.cmt {
  margin-left: 3px;
  color: #999;
  display: inline-block;
  font-size: 11px;
}
.alignR {
  text-align: right;
}
.searchbtn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
    padding: 4px;
    height: 27.6px;
    margin-left: -5px;
    width: 65px;
}
.searchbtn > .bi {
  font-weight: 9px !important;
}
.uploadbtn {
  margin-left: 25px;
  margin-top: 5px;
  height: 15px;
  line-height: 15px;
}
.dropdown-toggle {
  margin-right: 0 !important; 
}

.searchbtn {
  color: #424242!important;
  font-weight: 9;
  font-size: 13px;  
  line-height: 2px;
}

.container .upload-group {
  padding: 5px;
  margin-left: 20px;
}

.container .upload-group .uploadbtn:after {
  display: none;
}

.dropdown-menu li {
  width: 100%;
}
.dropdown-menu li a:hover {
  background: rgb(29, 29, 29)!important;
  color: #fff!important;
}

.vidmang {
  padding: 10px;
  margin-bottom: -10px;
  border: 1px solid #e2e2e2;
  background: #fff;
  color: rgb(68, 68, 68);
  height: auto;
  box-sizing: border-box;
  
}

#IhateThisShit {
  margin-top: 50px;
}

.yt-button-group > .dropdown.open > .dropdown-menu {
  margin-top: -13px;
    margin-left: -58px;
    border: 1px solid #ccc !important;
    border-radius: 2px !important;
}
.yt-footer {
  box-sizing: border-box;
  /* so the footer doesn't cause there to be a bottom scrollbar */
}

.huname {
  margin-right: 5px;
    color: #666;
    font-size: 11px !important;
    margin-top: -1px !important;
}

.cmn {
  float: left;
}
.cmntxt {
  overflow: hidden;
}
.allc, .allcc {
  font-size: 13px;
  color: #666666 !important;
}
.allc > a > strong {
  color: #666666 !important;
}
.allcc {
font-weight: normal;
}
.footer-buttons, .footer-buttons li, .footer-links, .footer-links li {
  display: inline-block;
  list-style-type: none;
}
.footer-buttons li, .footer-links li {
   margin-right: 14px;
}
.footer-buttons, .footer-links {
    margin: 0;
    margin-left: 30px;
}
.footer-links, .footer-links li a, .footer-links li {
  margin-left: 0px;
  color: #333;
  font-weight: bold;
}
.second-footer-link a, .footer-copyright, .second-footer-link {
  color: #666!important;
  font-size: 11px;
}
.footer-buttons li .yt-button {
   font-weight: normal;
   border-radius: 0;
}
.footer-buttons li .yt-button .bi {
  color: #555;
}
.footer-buttons li .yt-button .bi-14 {
   font-size: 11px;
}
.s2o {
  display: var(--is-view-text-enabled) !important;
}
.cmndisabled {
  color: #666666;
  text-align: center;
  padding: 2em;
  /* padding-top: 2em; */
}
.yt-tabs {
  font: 11px Arial;
  list-style: none;
  margin: 0;
  padding: 0;
}
.yt-tabs li {
  display: inline-block;
  height: 2.4em;
  padding: 0 8px;
/*     margin-left: 15px; */
  color: #333;
  border: 3px solid transparent;
  border-width: 3px 0;
  background: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  outline: none;
}
.yt-tabs li a {
  color: #333;
  text-decoration: none;
  vertical-align: top;
  height: 100%;
  width: 100%;
  display: inline-block;
      font-weight: bold !important;

}

.yt-tabs li.active, .yt-tabs li.ui-tabs-active, .yt-tabs li:hover {
  border-bottom: 3px solid #930;
  opacity: 1;
  filter: none;
}
    .inboxst {
        content: url('/assets/img/logos/inbox.png') !important;
        height: 28px;
        margin-top: -2px !important;
        /* margin-right: -13px !important; */
        margin-left: -46px !important; 
        margin-bottom: -1px;
        /* filter: invert(1); */
    }
    .content .span14 {
      min-height: 500px;
  }

  thead {
    display: none;
  }
  .inbpfp {
    height: 20px !important;
    vertical-align: middle;
  }

  html {
    overflow-x: hidden !important;
    /* i hate css raaaah */
  }
  .topbar {
    margin-top: -1px;
  }