
      /* Override some defaults */
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      .content .span10,
      .content .span4 {
        min-height: 500px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span4 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }

      .topbar .btn {
        border: 0;
      }
      
      .logost {
                font-family: 'Red Hat Display', sans-serif;
                color: rgb(43, 17, 196)!important;
      }
      
      .video-thumbnail{
    flex: 0 0 120px;
    border: 1px solid var(--colw);
    outline: 1px solid var(--colg);
    background: var(--colbl);
    width: 120px;
    height: 72px;
    padding: 0px;
    display: block;
    margin: auto;
    float: left;
    margin-right: 10px;
}
.video-thumbnail video{
    width: 100%;
    height: 100%;
}
.videoinfo {
  float: left;
}
video {
  background: black;
}
.topbar-inner, .topbar .fill {
  box-shadow: none;
}
.topbar > .fill {
  background: #f1f1f1;
  border-bottom: 1px solid #e8e8e8;
}
.topbar h3 a, .topbar .brand, .topbar h3 a:hover, .topbar .brand:hover, .topbar div > ul a.menu:hover, .nav a.menu:hover, .topbar div > ul li.open .menu, .nav li.open .menu, .topbar div > ul .dropdown-toggle:hover, .nav .dropdown-toggle:hover, .topbar div > ul .dropdown.open .dropdown-toggle, .nav .dropdown.open .dropdown-toggle {
  color: #333;
}
.topbar a {
  text-shadow: none;
  color: #333;
}
.topbar div > ul a:hover, .nav a:hover {
  color: #000000;
}
a.menu::after, .dropdown-toggle::after {
  border-top-color: #333;
}
.page-alert {
	width: 820px;
	margin-left: auto;
	margin-right: auto;
}
.user-pic {
  width: 100px;
}
.guide {
  width: 15%;
  float: left;
  padding: 20px;
}
.guide span {
  color: rgb(43, 17, 196);
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
.guide ul {
  list-style-type: none;
}
.guide .guide-item {
  padding: 5px;
  color: #333;
}
.guide a {
  text-decoration: none;
}
.guide .guide-item:hover, .guide .guide-item-active {
  color: #fff;
}
.guide .guide-item:hover {
  background: rgb(49, 49, 49);
}
.guide .guide-item-active {
  background: rgb(43, 17, 196);
}
.guide ul, ol {
  margin: 0;
}
.guide .sign-in-box {
  padding: 20px;
  border: 1px solid #434343;
  background: #464646;
  color: #fff;
  margin: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.25);
}
.alert-message {
  color: #fff;
  background: #d17821;
  border-color: #b76a1c;
  text-shadow: none;
  border-radius: 0;
  box-shadow: none;
}
.btn.info, .alert-message.info {
  background: #2793e6;
  border-color: #3a78ab;
}
.btn.success, .alert-message.success {
  background: #74a446;
  border-color: #618a3c;
}
.btn.danger, .alert-message.danger, .btn.error, .alert-message.error {
  background: #b91f1f;
  border-color: #a11b1a; 
}
.topbar div > ul .menu-dropdown, .nav .menu-dropdown, .topbar div > ul .dropdown-menu, .nav .dropdown-menu {
  background-color: #fff;
}
.menu-dropdown, .dropdown-menu {
  border-color: #ccc!important;
  border: 1px solid!important;
  border-radius: 0 0 2px 2px;
  box-shadow: none;
}
.topbar div > ul .menu-dropdown li a, .nav .menu-dropdown li a, .topbar div > ul .dropdown-menu li a, .nav .dropdown-menu li a {
  color: #333;
  text-shadow: none;
}
.topbar div > ul .menu-dropdown li a:hover, .nav .menu-dropdown li a:hover, .topbar div > ul .dropdown-menu li a:hover, .nav .dropdown-menu li a:hover {
  background-color: #555;
}
.topbar div > ul .menu-dropdown .divider, .nav .menu-dropdown .divider, .topbar div > ul .dropdown-menu .divider, .nav .dropdown-menu .divider {
  background-color: transparent;
  border-color: #f4f4f4;
  margin-left: 8px;
  margin-right: 8px;
}
.yt-footer {
  background-color: #f2f2f2;
  border-top: 1px solid #e2e2e2;
  width: 100%;
  padding: 10px;
}
.rewatch {
  width: 640px;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
}
.rewatch-content {
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-top: none;
}
.rewatch-pfp {
  vertical-align: middle;
}
#rewatch-author {
  margin-left: 10px;
  color: #333;
  font-weight: bold; 
}
.rewatch-sub {
  display: inline-block;
}
.rewatch-main {
  border-bottom: 1px solid #e6e6e6;
}
.rewatch-views {
  float: right;
  font-size: 20px;
}
.rewatch-buttons {
  padding-top: 8px;
}
.rewatch-likes {
  font-size: 12px;
  margin: 4px 0;
}
.rewatch-views-text {
  border-bottom: 2px solid #ccc;
}
.rewatch h4 a {
  color: #333;
}
.rewatch .page-alert {
  width: 580px;
}